<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group">
    <span class="input-group-addon">Nome</span>
     <%= form.text_field :name %>
  </div>

  <div class="input-group">
    <span class="input-group-addon">Link</span>
    <%= form.text_field :link %>
  </div>

  <div class="input-group">
    <span class="input-group-addon">Semestre</span>
    <%= form.text_field :semester %>
  </div>

  <div class="input-group">
    <span class="input-group-addon">Professor</span>
    <%= form.text_field :professor_id %>
  </div>

  <div class="input-group">
    <span class="input-group-addon">Matéria</span>
    <%= form.text_field :course_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
