<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Provas de <%= @course.name %></h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <%= form_for_filterrific @filterrific do |f| %>
        <%= f.text_field(
          :with_course_id,
          class: 'filterrific-periodically-observed form-control'
        ) %>
        <div class="input-group col-8">
          <span class="input-group-addon">Nome</span>
          <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
          <%= f.text_field(
            :search_query,
            class: 'filterrific-periodically-observed form-control'
          ) %>
        </div>
        
      <% end %>
    </div> <%# end row %>
  </div> <%# end panel-body %>
  <%= render(
    partial: 'posts/list',
    locals: { posts: @posts }
  ) %>
</div>