<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-top">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Porca", root_url, class: "navbar-brand" %>
    </div>
    <div class="collapse navbar-collapse" id="navbar-top">
      <ul class="nav navbar-nav">
        <li><%= link_to 'Adicionar uma Prova', contribute_path %>
        <li><%= link_to 'Sobre', about_path %></li>
        <li><%= link_to 'FAQ', faq_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
           <%= render 'layouts/nav_user'%>
        <% else %>
           <%= render 'layouts/nav_guest'%>
        <% end %>
      </ul>
    </div>
  </div>
</nav>